@charset "UTF-8";
/* aplicando recet*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.text-1, .text-secundario {
  color: white;
  font-family: Georgia;
  justify-content: center;
  background-color: rgba(22, 12, 3, 0.656);
  max-width: fit-content;
  margin: auto;
  position: relative; }

/* Aplicando estilo al body en general*/
body {
  background-image: url(/imagenes/portada.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative; }

body:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  position: absolute;
  opacity: 0.25; }

/* Aplicando estilo a mi encabezado */
header {
  background: linear-gradient(150deg, rgba(0, 0, 0, 0.856), rgba(51, 51, 51, 0.801), rgba(0, 0, 0, 0.842));
  background-size: 400% 300%;
  animation: BgGradient 5s ease infinite;
  position: relative; }

@keyframes BgGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* Aplicando estilo al menu de navegación */
header nav ul {
  flex-direction: column; }

header nav ul li {
  display: flex;
  list-style: none; }

header nav ul li a:hover {
  background-color: grey;
  transition: 0.5s; }

a:hover {
  color: black; }

header nav ul li a {
  max-width: fit-content;
  padding: 8px;
  margin: 9px;
  font-family: Georgia;
  font-size: 15;
  color: white;
  text-decoration: none;
  background-color: black;
  border-radius: 10px; }

header .encabezado {
  display: flex;
  justify-content: space-between; }

header div .logo img {
  width: 180px;
  height: 80px;
  filter: invert(1);
  margin-left: 20px;
  margin-top: 10px;
  background-color: rgba(22, 12, 3, 0.166);
  position: relative; }
  header div .logo img img:hover {
    background-color: grey;
    transition: 0.5s; }

/* Colocando estiulos al main */
main {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 720px; }

.text-1 {
  font-size: 35px; }

.text-secundario {
  font-size: 28px;
  margin-top: 50px; }

/* Colocando estilos al footer */
footer {
  background-color: #333333;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

footer div {
  color: white;
  font-family: Georgia;
  font-size: 16px;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 5px;
  text-align: center; }
  footer div a {
    color: white; }

.redes a {
  margin-right: 15px; }

/* pages productos */
.producto__item {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1rem;
  text-align: center;
  color: white;
  margin: 5em 2em;
  gap: 3em; }

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative; }
  .producto img {
    width: 80%;
    padding: 0.5px; }

.formato {
  display: flex;
  align-items: center;
  justify-content: center; }

/* page picadas */
.picadas {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  position: relative; }

.picada {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  position: relative; }
  .picada img {
    width: 80%; }

.picadas__item {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1rem;
  color: white;
  margin: 2em 2em;
  gap: 3em; }

.tabla {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto; }
  .tabla img {
    width: 80%; }

.Regalo__item {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1rem;
  color: white;
  margin: 2em 2em;
  gap: 3em; }

/* pages promo */
.promo__item {
  display: grid;
  grid-template-columns: 1fr;
  position: relative; }

.promo {
  display: flex;
  justify-content: center;
  margin: 4em 0; }
  .promo img {
    width: 70%;
    height: 55%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4); }

/* pages Contactos */
.contactoContenedor {
  background-color: rgba(0, 0, 0, 0.56);
  margin-top: 50px;
  margin-bottom: 250px;
  position: relative; }

/* Aplicando Queries */
@media screen and (min-width: 480px) {
  header {
    display: grid;
    grid-template-columns: 1fr; }
  header nav div {
    display: flex;
    flex-direction: column; }
  header nav div ul li {
    font-size: 25px; }
  footer {
    display: flex;
    flex-direction: column; }
  /* aplicando medias quieries page producto */
  .producto__item {
    display: grid;
    grid-template-columns: 1fr; }
  .producto__item .producto p {
    font-size: 1rem; }
  /* aplicando medias quieries page picadas y souveniers */
  .picadas__item {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.3rem; }
  /* aplicando medias quieries page promos */
  .promo__item {
    display: grid;
    grid-template-columns: 1fr; } }

@media screen and (min-width: 788px) {
  header nav div ul {
    display: flex;
    justify-content: center;
    flex-direction: row; }
  header nav div ul li a {
    text-align: center; }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  /* aplicando medias quieries page producto */
  .producto__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }
  .producto__item .producto p {
    font-size: 1.7rem; }
  /* aplicando medias quieries page picadas y souveniers */
  .picadas__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 1.4rem; }
  .Regalo__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 1.4rem; }
  /* aplicando medias quieries page promos */
  .promo__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

@media screen and (min-width: 1200px) {
  header {
    display: grid;
    grid-template-columns: 1fr 5fr; }
  header nav div ul {
    display: flex;
    justify-content: center;
    flex-direction: row; }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end; }
  .inicio {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  /* aplicando medias quieries page producto */
  .producto__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; } }
