// uso de extend
%texto{
    color: white;
    font-family: Georgia;
    justify-content: center;
    background-color: rgba(22, 12, 3, 0.656);
    max-width: fit-content;
    margin:auto;
    position:relative;
}